body{
    font-family: 'Poor Story', cursive;
    background-image: url('image/space.jpg');
}
h1{
    text-align: center;
    color: brown;
    font-size: 200px;
}

.title{
    color: brown
}
.grut{
    width: 100px;
}
.btn{
    border: 1 px solid red;
    padding: 0px 300px;
    margin-left: 500px;
    text-decoration: none;
    border-radius: 00px;
    font-size: 100px;
}